body {
  background-color: #1E1E2D;
  position: relative;

  font-family: 'Montserrat', sans-serif;

  box-sizing: border-box;
}

p {
  margin: 0;
}

.wrapper {
  margin: 200px auto 0; 
  width: 500px;
  overflow: hidden;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.loader__img {
  display: block;
  animation: appearance 1.5s ease, moveTitleLeftIco 1s linear 1.5s;
}

.loader__title {
  font-size: 60px;
  font-weight: 900;
  color: #AFBCD4;

  animation: moveTitleLeft 1s linear;
}

.loader__text {
  margin: 70px 0 0;
  width: 70%;

  font-weight: 400;
  text-align: center;

  color: #B3B3B5;
  overflow: hidden;
}

.loader__text-content {
  animation: appearanceText 1s linear;
}

.loader__button {
  margin-top: 50px;
  padding: 16px 44px;

  display: flex;
  gap: 10px;
  align-items: center;

  background-color: #5790FF;
  border-radius: 200px;

  text-decoration: none;

  animation: appearanceButton 2s linear;
}

.loader__button-text {
  margin: 0;
  color: white;
  font-weight: 600;
}

@keyframes appearance {
  from {
    transform: scale(3);
    position: absolute;
  }
  to {
    transform: scale(1);
    position: absolute;
    transform: translateY(70%);
  }
}

@keyframes moveTitleLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(25%);
  }
}

@keyframes moveTitleLeftIco {
  from {
    transform: translateX(0px);
    position: absolute;
  }
  to {
    transform: translate(-175px);
    position: absolute;
  }
}

@keyframes appearanceText {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes appearanceButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}